@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
    font-size: 10vw;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -.25vw;
    color: #000;
    margin-top: 10vw;
}

#under-line {
    color: #101820;
    position: relative;
    text-decoration: none;
    text-align: center;
    line-height: 14vh;
  }
  #under-line::before {
    content: '';
    position: absolute;
    width: 44vw;
    height: 1.5px;
    bottom: 0;
    left: auto;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .8s ease-in-out;
  }
  #under-line:hover::before {
    background-color: #101820;
    transform-origin: left;
    transform: scaleX(1);
    text-align: center;
    transition: all .8s ease-in-out;
  }

  @media only screen and (max-width: 1320px) {
    #under-line::before {
      width: 44vw;
      line-height: 16vh;
    }
  }

  #data-col-row-top {
    margin-top: 2vw;
    margin-bottom: 12vw;
    margin-left: 4vw;
    padding: 0;
  }

  #data-col-row-top-bottom {
    margin-top: 2vw;
    margin-left: 4vw;
    padding: 0;
  }

  #data-col-row-container {
    margin: 4vw 4vw;
    padding: 0;
  }

  #data-row-div {
    text-align: start;
  }

  #data-row-div-home {
    text-align: start;
    
  }

  #data-row-div:hover  {
    color: #ec67f1;
  }

  #data-col {
    font-size: 1vw;
    letter-spacing: .05vw;
    text-align: start;
    margin: 0;
  }

  #landing-txt p {
    font-size: 1vw;
    color: #000;
  }

  #portfolio-link {
    color: #ec67f1;
  }
