@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

#col-top {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}

.col-top-text {
    font-size: 2vw;

}

.col-top-text-tag {
    font-size: 1vw;

}

#coll-1 {
    /* background-color: #c9c6cf; */
    background-color: #f7f7f7;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8vw;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}


#coll-2 {
    /* background-color: #d0d0d0; */
    background-color: #f7f7f7;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #000;
    margin-bottom: 8vw;
}

#coll-3 {
    background-color: #000;
    height: 40vh;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    margin: 0 2vw;
    margin-bottom: 8vw;
}

#glass-img {
    width: 35vw;
    background: none;
    margin: 0 auto;
    rotate: 180deg;
}

#glass-img-2 {
    width: 35vw;
    background: none;
    margin: 0 auto;
}

.col-sub-header-1 {
    font-size: 3vw;
    margin-left: 3vw;
    background-color: #f7f7f7;
    /* background-color: #c9c6cf; */
}

.col-sub-header-2 {
    font-size: 3vw;
    margin-left: 3vw;
    background-color: #f7f7f7;
    /* background-color: #d0d0d0; */
}

.col-text-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.col-p-tag-1 {
    font-size: 1vw;
    margin-left: 3vw;
    color: #000000a0;
    background-color: #f7f7f7;
    /* background-color: #c9c6cf; */
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.col-p-tag-2 {
    font-size: 1vw;
    margin-left: 3vw;
    color: #000000a0;
    background-color: #f7f7f7;
    /* background-color: #d0d0d0; */
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
/* 
.col-p-tag-3 {
    width: 60%;
    font-size: 6vw;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -.25vw;
    color: #000;
    line-height: 10vh;
} */

.bold-tag {
    font-weight: 600;
}

.text-center {
    padding:0;
}
.container {
    padding: 0;
}

.container-text-center {
    padding: 0;
}

#image-col-div {
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-one-info {
    width: 30%;
    background: none;
    display: flex;
    align-items: flex-start;
    margin-left: 2vw;
}

.parallax-one-info-text {
    width: 35%;
    background: none;
    display: flex;
}

.first-character {
    line-height: 8vh;
    letter-spacing: 1vw;
    word-spacing: .5vw;
    font-size: 4vw;
    padding: 0;
}

#first-character-span {
    color: #ec67f1;
    /* color: rgb(84, 233, 84); */
    font-weight: 700;
    font-size: 5vw;
    line-height: 10vh;
}

#ugg-3-h4 {
    font-size: 2vw;
    background: none;
    color: #f7f7f7;
    font-weight: 200;
}


#ugg-3-tag {
    background: none;
    color: #f7f7f7;
    font-weight: 300;
}
#info-name {
    background: none;
    color: #f7f7f7;
    font-weight: 300;
}

#svg-img {
    background: none;
    z-index: 999;
    width: 40vw;
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
}

.coordinates {
    font-size: 1vw;
    padding: 4vw;
    font-weight: 600;
}

.info-container {
    background: none;
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-start; */
}

.info-div {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8vh;
}

.info-name {
    background: none;
    color: #f7f7f7;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 8vh;
    padding: 0;
    margin: 0;
}

.info-number {
    background: none;
    color: #f7f7f7;
    font-size: 3vw;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 3vh;
}

.info-info {
    background: none;
    color: #f7f7f7;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 6vh;
    padding: 0;
    margin: 0;
}

#purp {
    /* color: rgb(84, 233, 84); */
    color: #ec67f1;
}
  

/* Typography */
/**************************/
#parallax-world-of-ugg h2 { width: 75%; letter-spacing:10px; text-align:center; background-color: transparent; color:#f7f7f7; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;font-size: 6vw;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -.25vw;
    line-height: 10vh;
    filter: "difference";
    margin: 0 auto;}

#parallax-world-of-ugg p {font-weight:400; font-size:4vw; line-height:7vh;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {  margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:3vw; letter-spacing:.5vw;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block { padding: 2vw; width:100%; margin:0 auto; text-align: start;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 18vw; padding-bottom: 18vw; overflow: hidden; position: relative; width: 100%; background-image: url("/DALL·E 2023-04-09 00.59.28 - Photo realistic of a new planet surface that is a little metallic and a little minimal in monochromatic neutrals .png"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: top center;}

/* Section - Parallax-2 */
/**************************/
#parallax-world-of-ugg-2 .parallax-one {padding-top: 18vw; padding-bottom: 18vw; overflow: hidden; position: relative; width: 100%; background-image: url("/DALL·E 2023-04-09 00.59.32 - Photo realistic of a new planet surface that is a little metallic and a little minimal in monochromatic neutrals .png"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: top center;}

/* Section - Parallax-3 */
/**************************/
#parallax-world-of-ugg-3 .parallax-one {display: flex; flex-direction: column; padding-top: 2vw; padding-bottom: 10vw; margin-bottom: 10vw; overflow: hidden; position: relative; width: 100%; background-image: url("/DALL·E 2023-04-09 00.59.15 - Photo realistic of a new planet surface that is a little metallic and a little minimal in monochromatic neutrals .png"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: top center;}

/* Media Queries */
/**************************/
@media screen and (max-width: 1200px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg #parallax-world-of-ugg {padding-top:100px; padding-bottom:100px;}
}
/* @media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
} */