@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.line-div {
    width: 90%;
    height: 1px;
    background-color: #000;
    margin: 0 auto;
}

#col-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4vw;
}

.col-top-text {
    font-size: 3vw;
    font-family: 'EB Garamond', serif;
}

.col-top-text-tag {
    font-size: 1.15vw;
}

#coll-1 {
    background-color: #f7f7f7;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8vw;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}


#coll-2 {
    background-color: #f7f7f7;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #000;
    margin-bottom: 8vw;
}

#glass-img {
    width: 30vw;
    /* height: 30vw; */
    background: none;
    margin: 5vh auto;
    rotate: 180deg;
}

#glass-img-2 {
    width: 30vw;
    /* height: 30vw; */
    background: none;
    margin: 5vh auto;
}

.col-sub-header-1 {
    font-size: 3vw;
    margin-left: 2vw;
    background-color: #f7f7f7;
    font-family: 'EB Garamond', serif;
}

.col-sub-header-2 {
    font-size: 3vw;
    margin-left: 2vw;
    background-color: #f7f7f7;
    font-family: 'EB Garamond', serif;
}

#bottom-line {
    padding-bottom: 4vh;
}

.col-text-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-p-tag-1 {
    font-size: 1.15vw;
    margin-left: 2vw;
    color: #000000a0;
    background-color: #f7f7f7;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: start;
}

.col-p-tag-2 {
    font-size: 1.15vw;
    margin-left: 2vw;
    color: #000000a0;
    background-color: #f7f7f7;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: start;
}

.bold-tag {
    font-weight: 600;
}

.text-center {
    padding:0;
    margin:0;
}
.container {
    padding: 0;
}

.container-text-center {
    padding: 0;
}

#image-col-div {
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-one h2 {
    mix-blend-mode: difference;
}

.parallax-p {
    margin: 2vw;
    color: #fff;
    font-size: 1.5vw !important;
    mix-blend-mode: difference;
    background: transparent;
}

.parallax-one-info {
    width: 30%;
    background: none;
    display: flex;
    align-items: flex-start;
    margin-left: 4vw;
}

.parallax-one-info-text {
    width: 35%;
    background: none;
    display: flex;
}

.first-character {
    font-family: 'EB Garamond', serif;
    font-size: 6vw;
    font-weight: 100;
    line-height: 1.25em;
    letter-spacing: -.2vw;
    /* padding: 0;
    margin: 0; */
}

#first-character-span {
    font-family: 'EB Garamond', serif;
    /* font-style: italic; */
    font-size: 6vw;
    font-weight: 100;
    line-height: 12vh;
    letter-spacing: -.2vw;
    /* color: #ec67f1; */
}

#ugg-3-h4 {
    font-size: 2vw;
    background: none;
    color: #f7f7f7;
    font-weight: 200;
}


#ugg-3-tag {
    background: none;
    color: #f7f7f7;
    font-weight: 300;
}
#info-name {
    background: none;
    color: #f7f7f7;
    font-weight: 300;
}

#svg-img {
    background: none;
    z-index: 999;
    width: 40vw;
}

.coordinates {
    font-size: 1.15vw;
    padding: 4vw;
    font-weight: 600;
}

.info-container {
    background: none;
    display: flex;
    justify-content: space-evenly;
}

.info-div {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8vh;
}

.info-name {
    background: none;
    color: #f7f7f7;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 8vh;
    padding: 0;
    margin: 0;
}

.info-number {
    background: none;
    color: #f7f7f7;
    font-size: 3vw;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 3vh;
}

.info-info {
    background: none;
    color: #f7f7f7;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 6vh;
    padding: 0;
    margin: 0;
}

#purp {
    color: #ec67f1;
}
  

/* Typography */
/**************************/
#parallax-world-of-ugg h2 { width: 75%; letter-spacing:10px; text-align:center; background-color: transparent; color:#f7f7f7; z-index:10; font-size: 6vw;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -.2vw;
    line-height: 10vh;
    margin: 0 auto;}

#parallax-world-of-ugg p {font-weight:400; font-size:4vw; line-height:7vh;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {  margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:3vw; letter-spacing:.5vw;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block { margin: 4vw; text-align: start;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 18vw; padding-bottom: 20vw; overflow: hidden; position: relative; width: 100%;background-image: url("/DALL·E 2023-04-09 00.59.28 - Photo realistic of a new planet surface that is a little metallic and a little minimal in monochromatic neutrals .png"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: top center;}

/* Section - Parallax-2 */
/**************************/
#parallax-world-of-ugg-2 .parallax-one {padding-top: 18vw; padding-bottom: 18vw; overflow: hidden; position: relative; width: 100%; background-image: url("/DALL·E 2023-04-09 00.59.32 - Photo realistic of a new planet surface that is a little metallic and a little minimal in monochromatic neutrals .png"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: top center;}

/* Section - Parallax-3 */
/**************************/
#parallax-world-of-ugg-3 .parallax-one {display: flex; flex-direction: column; padding-top: 2vw; padding-bottom: 10vw; margin-bottom: 10vw; overflow: hidden; position: relative; width: 100%;  background-color: #000; background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: top center;}

@media screen and (min-width: 2116px) {
  #coll-1 {
    border: 1px solid #000;
    }
}
