@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

::selection {
  color: #c9c6cf;
  background-color: #101820;
}

* {
  background-color: #f7f7f7;
  /* background-color: ; */
}

.app {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
